*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Start of Login page design*/
.main_container{
    background-image: linear-gradient(to right, pink , rgb(254, 223, 228),rgb(251, 235, 238),rgb(252, 221, 226),rgb(255, 178, 191),rgb(250, 141, 159));
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sign_container{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_content{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color: #8B9CB7;
    box-shadow: 4px 4px 10px rgb(252, 205, 211);
}

.sign_content > img{
    margin-top: 4vh;
}

.sign_content > h1{
    margin-bottom: 1vh;
}

.textfield{
    width: 80%;
    height: 7%;
    outline: none;
    border: 1px solid #8B9CB7;
    border-radius: 5px;
    color:#621B07;
    margin: 1vh 0;
    padding-left: 1vw;
}

input::placeholder{
    color:rgb(255, 221, 227);
    font-weight: 600;
}

.year{
    width: 45%;
    padding: 1.5vh 1vw;
    border: 1px solid #8B9CB7;
    border-radius: 5px;
    color:rgb(255, 201, 211);
    outline: rgb(253, 144, 162);
}

.month{
    width: 30%;
    padding: 1.5vh 1vw;
    border: 1px solid #8B9CB7;
    border-radius: 5px;
    color:rgb(255, 201, 211);
    outline: rgb(253, 144, 162);
}

.day{
    width: 20%;
    padding: 1.5vh 1vw;
    border: 1px solid #8B9CB7;
    border-radius: 5px;
    color:rgb(255, 201, 211);
    outline: rgb(253, 144, 162);
}

.dropdown{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
    width: 83.5%;
    outline: none;
    margin: 1vh 0;
}

.radio_buttons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    accent-color: #621B07;
    margin: 1vh 0;
}

.transparent_btn{
    background-color: transparent;
    outline: none;
    border: none;
    color:rgb(250, 141, 159);
    font-weight: bold;
}

.transparent_btn:hover{
    color: rgb(252, 110, 134);
}

.location_btn{
    background-color: rgb(250, 141, 159);
    color:white;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 1vh 1.5vw;
    width: 40%;
}

.pink_btn{
    background-color: rgb(250, 141, 159);
    color:white;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 1.5vh 2vw;
    width: 50%;
    margin: 1vh 0;
}

.pink_btn:hover, .location_btn:hover{
    background-color: rgb(247, 116, 138);
}

.login_btn{
    margin-top: 3vh
}

.location{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1vh 0;
}

#signin_container{
    display: none;
}

#signin_container img{
    margin-top: 15vh;
}

#signin_container .pink_btn{
    margin-top: 5vh;
}

.image_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #621B07;
}

.image_container > img{
    width: 100%;
    height: 70%;
}
/*End of Login page design*/

@media screen and (max-width: 800px) {
    .main_container{
        flex-direction: column;
    }

    .sign_container{
        width: 100%;
        height: 100%;
        font-size: 12px;
    }

    .sign_content{
        height: 90%;
        width: 90%;
    }

    .image_container{
        display: none;
    }
}
